<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARnqjYq158wHkQq77BiIPWqcqkXidTU8I</string>
	<key>GCM_SENDER_ID</key>
	<string>627447759299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzymind</string>
	<key>PROJECT_ID</key>
	<string>quizzymind-2cdf8</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzymind-2cdf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627447759299:ios:bf4db10db2b8e2cefcbd76</string>
	<key>DATABASE_URL</key>
	<string>https://quizzymind-2cdf8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>